.panel {
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);	
	margin: 10px 0 10px 0;
}

.panel-heading {
	border: 1px solid #efefef;
	background: #eee;
}

.panel-body {
	border: 1px solid #efefef;
}

.matches .panel-body, .actions .panel-body {
	padding: 0;
}